*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient(to right bottom, #ffffff,#e5d1da,#d9ead3,#a8d7bd,#2c700e 7px);
}
.loginform{
    background: linear-gradient(120deg, rgba(112,102,106,0.99), rgba(112,102,106,0.25) 70%),
                linear-gradient(240deg, rgba(168,215,189,0.99), rgba(168,215,189,0.25) 70%),
                linear-gradient(360deg, rgba(44,112,14, 0.99), rgba(44,112,14,0.25) 70%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 30px;
}
.loginform h1{
    margin: 15px 0 25px 0;
    color: #112c05;
}
.loginform .sociallinks{
    margin-bottom: 10px;
}
.loginform .sociallinks a{
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right bottom, #e5d1da, #d9ead3);
    color: #112c05;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}
.loginform .sociallinks a img{
    vertical-align: bottom;
}
.loginform .sociallinks a:hover{
    background: repeating-linear-gradient(to right bottom, #ffffff,#e5d1da,#d9ead3,#a8d7bd,#2c700e 1px);
}
.loginform .typehere{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.loginform .typehere input{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 0 10px 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: linear-gradient(to right bottom, #e5d1da, #d9ead3);
}
.loginform .typehere span{
    position: absolute;
    top: 25%;
    left: -10px;
    color: gray;
}
.loginform .remember, .signup{
    display: flex;
    flex-direction: row;
}
.loginform .remember{
    margin: 5px;
}
.loginform .remember p{
    color: #112c05;
}
.loginform .remember a{
    margin-left: 10px;
    text-decoration: none;
    color: #112c05;
}
.loginform .login{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    background: linear-gradient(to right bottom, #e5d1da, #d9ead3);
    text-align: center;
    color: #112c05;
    font-weight: 600;
    font-size: 18px;
}
.signup p{
    margin: 0 5px;
    color: #112c05;
}