body{
    background-color: #6487a3;
}
.container{
    height: 800px;
    width: 600px;
    background-color: 	#6487a3;
    position:relative;
    margin: 50px auto;
}
.box1{
    height: 220px;
    width: 300px;
    background-color: white;
    position:absolute;
    top: 250px;
    left: 150px;
}
.box1::before{
    content: " ";
    height: 300px;
    width: 300px;
    background-color:white;
    border-radius: 100px;
    display: inline-block;
    position:absolute;
    bottom:-95px;
    /* box-shadow: 20px 20px 20px#fdf5e6, 0 -20px 20px #fefcf7; */
    z-index: 2;
}
.box1::after{
    content: " ";
    height: 150px;
    width: 500px;
    background-color:#fdf7eb;
    border-radius: 100%;
    display: inline-block;
    position:absolute;
    bottom:-120px;
    left: -108px;
    border: 8px solid #d2d2d2;
    z-index: 1;
    box-shadow: 20px 20px 20px#fdf5e6 inset, -20px -20px 20px #fefcf7 inset ;
}
.box2{
    height: 100px;
    width: 300px;
    border-radius: 100%;
    background-image: linear-gradient(to left, #f9f9f9,#d9d9d9);
    border: 10px solid #f9f9f9;
    position: absolute;
    top: 200px;
    left: 150px;
    box-sizing: border-box;
    z-index: 10;
}
.box2::before{
    content: " ";
    height: 100px;
    width: 75px;
    border-radius: 100%;
    border: 25px solid white;
    display: inline-block;
    position:absolute;
    transform: rotate(42deg);
    top:90px;
    right: -85px;
    z-index:1;
}
.box2::after{
    content: " ";
    height: 60px;
    width: 250px;
    border-radius: 100%;
    background-color: #C68E17;
    display: inline-block;
    position:absolute;
    top:18px;
    right: 17px;
    z-index:1;
}
.shadow{
    height: 80px;
    width: 360px;
    position:absolute;
    top: 450px;
    left: 120px;
    border: 2px  radial-gradient(rgba(0,0,0,0.2) 25%, transparent, transparent);
	border-radius: 50%;
    z-index: 10;
}
.vapour{
    position: relative;
    top: 150px;
    left: 172px;
    display: flex;
}
.vapour .white {
	position: relative;
	display: block;
	margin: 0 2px 50px;
	min-width: 8px;
	height: 120px;
	background: #fff;
	border-radius: 50%;
	animation: animate 5s linear infinite;
	opacity: 0;
	filter: blur(8px);
	animation-delay: calc(var(--i) * -0.5s);
}
@keyframes animate {
	0%{
		transform: translateY(0) scaleX(1);
		opacity: 0;
	}
	15%{
		opacity: 1;
	}
	50%{
		transform: translateY(-150px) scaleX(5);
	}
	95%{
		opacity: 0;
	}
	100%{
		transform: translateY(-300px) scaleX(10);
	}
}

.smile{
    height: 100px;
    width: 100px;
    border-bottom: 8px solid #2e251a;
    border-radius: 100%;
    position: absolute;
    top: 220px;
    left: 85px;
    z-index: 12;
}
.eye{
    height: 40px;
    width: 18px;
    background-color: #2e251a;
    border-radius: 100%;
    display: inline-block;
    white-space: pre;
}
.eye1{
    position: absolute;
    top: 5px;
    left: 10px;
}
.eye2{
    position: absolute;
    top: 5px;
    left: 70px;
}