*{
    margin: 0;
    padding: 0;
}
body{
    background-color: 	#303030;
}
h1{
    text-decoration: 2px double underline;
    color: white;
    text-align: center;
    margin-top:15px;
}
.parent{
    height: 500px;
    width: 70%;
    margin: 55PX auto;
    border: 20px groove #845e3d;
    box-shadow: 10px -10px 25px ;
    background-image: radial-gradient(#52bf90, #49ab81,#419873,#398564,#317256,#295f48,#204c39, #18392b ) ;
    position: Relative;
}
.card1{
    position: absolute;
    left:25%;
    top: 50px;
    
}
.card2{
    position: absolute;
    left: 30%;
    top: 70px ;
}
.card3{
    position: absolute;
    left: 35%;
    top: 90px ;
}
.card4{
    position: absolute;
    left:40% ;
    top: 110px;
}
.card5{
    position: absolute;
    left: 45%;
    top: 130px;
}