@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ecf0f3;
    color: #31344b;
    font-weight: 500;
}
form{
    padding: 40px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,3px 3px 5px #ceced1;
}
.input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    display: flex;
    align-items: center;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff inset,3px 3px 5px #ceced1 inset;
}
input{
    border: none;
    outline: none;
    background: #ecf0f3;
    padding-left: 5px;
}
.input span{
    color: #4b4d60;
}
input[type="submit"]{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 25px;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,3px 3px 5px #ceced1;
}
input[type="submit"]:hover{
    box-shadow: -3px -3px 7px #ffffff inset,3px 3px 5px #ceced1 inset;
}
p{
    font-size: 13px;
}
p:nth-of-type(1){
    margin-left: 10px;
    margin-top: -5px;
    align-self: flex-start;
    color: #1DA1F2;
}
a{
    text-decoration: none;
    color: #1DA1F2;
}
p:nth-of-type(1):hover, a:hover{
    text-decoration: 2px underline;
}
